/* Made by Alberto Gonzalez http://agonza05.github.io */

.custom-nav li a{
  text-transform: uppercase;
}

nav .brand-logo {    
  font-weight: bold;  
  text-transform: uppercase;
}

.side-nav a {  
  text-transform: uppercase;
}

.side-nav li:hover{
  color: #fff;
}

.side-nav li a:hover{
  color: #fff;
}

.main-wrapper{
  display: inline;
  width: 100%;
  float: left;
}

#preloader {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#f2f2f2; /* change if the mask should have another color then white */
  z-index:99999; /* makes sure it stays on top */ 
}

.preloader-wrapper{
	margin: auto;
}

#home {
  background-image: url("images/home-img1.jpg");
  background-position: 100% 100%;
  background-size: 100% 100%;
  display: inline;
  float: left;
  position: relative;
  width: 100%;
}

#home .overlay-section {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  height: 100%;
  width: 100%;
}

.home-title{
  text-transform: uppercase;
}

#services{
	background-color:#fff;
}

#build{
	background-color:#f5f5f5;
}

#projects{
	background-color:#fff;
}

#footer{
	background-color:#f5f5f5;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="time"],
input[type="date"],
input[type="datetime-local"],
input[type="tel"], input[type="number"],
input[type="search"],
textarea.materialize-textarea {
  border-color: #37474f;
}

/* Form colors */
input[type="text"]:focus:not([readonly]) + label,
input[type="password"]:focus:not([readonly]) + label,
input[type="email"]:focus:not([readonly]) + label,
input[type="url"]:focus:not([readonly]) + label,
input[type="time"]:focus:not([readonly]) + label,
input[type="date"]:focus:not([readonly]) + label,
input[type="datetime-local"]:focus:not([readonly]) + label,
input[type="tel"]:focus:not([readonly]) + label,
input[type="number"]:focus:not([readonly]) + label,
input[type="search"]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #37474f;
}

input[type="text"]:focus:not([readonly]),
input[type="password"]:focus:not([readonly]),
input[type="email"]:focus:not([readonly]),
input[type="url"]:focus:not([readonly]),
input[type="time"]:focus:not([readonly]),
input[type="date"]:focus:not([readonly]),
input[type="datetime-local"]:focus:not([readonly]),
input[type="tel"]:focus:not([readonly]),
input[type="number"]:focus:not([readonly]),
input[type="search"]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #37474f;
  box-shadow: 0 1px 0 0 #37474f;
}

.copy-info{
	margin: auto;
}
